<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <ul class="list-group">
              <li class="list-group-item text-danger" *ngIf="user.errors?.required && user.touched">The user is required</li>
              <li class="list-group-item text-danger" *ngIf="password.errors?.required && password.touched">The password is required</li>
            </ul>
            <div class="form-group">
              <label for="user" class="control-label col-md-4">Usuário</label>
              <!--Substituir value = "admin" por #user="ngModel"-->
              <div class="col-md-6">
                <input id="user" type="text" #user="ngModel" ngModel class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Senha</label>
              <!--Substituir value = "admin" por #password="ngModel"-->
              <div class="col-md-6">
                <input type="password" name="password" #password="ngModel" ngModel class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                  Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>