<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        Portal
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/controle/ferias">Controle de Férias</a></li>
        <li><a routerLink="/controle/bancoHoras" >Banco de Horas</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/auth/login">Login</a> </li>
        <li><a>Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- The outlet for the different components -->
  <router-outlet></router-outlet>
</div>