<div class="panel-heading">
  Controle Banco de Horas</div>
<div class="panel-body">
  <form class="form-horizontal" #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Funcionario</th>
          <th>Tipo</th>
          <th>Projeto</th>
          <th>Horas Crédito</th>
          <th>Horas Débito</th>
          <th>Observações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="form-control" type="text" id="newAttributeFuncionario" [(ngModel)]="newAttribute.funcionario" name="newAttributeFuncionario"
              required />
          </td>
          <td>
            <input class="form-control" type="text" id="newAttributeTipo" [(ngModel)]="newAttribute.tipo" name="newAttributeTipo" required
            />
          </td>
          <td>
            <input class="form-control" type="text" id="newAttributeProjeto" [(ngModel)]="newAttribute.projeto" name="newAttributeProjeto"
              required />
          </td>
          <td>
            <input class="form-control" type="time" id="newAttributehorasCredito" [(ngModel)]="newAttribute.horasCredito" name="newAttributehorasCredito"
            />
          </td>
          <td>
            <input class="form-control" type="time" id="newAttributehorasDebito" [(ngModel)]="newAttribute.horasDebito" name="newAttributehorasDebito"
            />
          </td>
          <td>
            <input class="form-control" type="text" id="newAttributeObs" [(ngModel)]="newAttribute.obs" name="newAttributeObs" />
          </td>
          <td>
            <button class="btn btn-default" type="button" class="btn btn-primary" [disabled]="form.invalid" Register (click)="addFieldValue()">Add</button>
          </td>
        </tr>
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <input class="form-control" type="text" id="fieldFuncionario" [(ngModel)]="field.funcionario" name="fieldFuncionario" required
              disabled />
          </td>
          <td>
            <input class="form-control" type="text" id="fieldTipo" [(ngModel)]="field.tipo" name="fieldTipo" required disabled/>
          </td>
          <td>
            <input class="form-control" type="text" id="fieldProjeto" [(ngModel)]="field.projeto" name="fieldProjeto" required disabled/>
          </td>
          <td>
            <input class="form-control" type="time" id="fieldhorasCredito" [(ngModel)]="field.horasCredito" name="fieldhorasCredito"
              disabled />
          </td>
          <td>
            <input class="form-control" type="time" id="fieldhorasDebito" [(ngModel)]="field.horasDebito" name="fieldhorasDebito" disabled/>
          </td>
          <td>
            <input class="form-control" type="text" id="fieldObs" [(ngModel)]="field.obs" name="fieldObs" disabled/>
          </td>
          <td>
            <button class="btn btn-default" type="button" class="btn btn-primary" Register (click)="deleteFieldValue(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div>