<div class="panel-heading">
  Controle Férias</div>
<div class="panel-body">
  <form class="form-horizontal" #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Funcionario</th>
          <th>Tipo</th>
          <th>Projeto</th>
          <th>Inicio</th>
          <th>Fim</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="form-control" type="text" id="newAttributeFuncionario" [(ngModel)]="newAttribute.funcionario" name="newAttributeFuncionario"
              required />
          </td>
          <td>
            <input class="form-control" type="text" id="newAttributeTipo" [(ngModel)]="newAttribute.tipo" name="newAttributeTipo" required
            />
          </td>
          <td>
            <input class="form-control" type="text" id="newAttributeProjeto" [(ngModel)]="newAttribute.projeto" name="newAttributeProjeto"
              required />
          </td>
          <td>
            <input class="form-control" type="date" min="2019-01-28" id="newAttributeDataInicio" [(ngModel)]="newAttribute.dataInicio"
              name="newAttributeDataInicio" required />
          </td>
          <td>
            <input class="form-control" type="date" min="{{newAttribute.dataInicio}}" id="newAttributeDataFim" [(ngModel)]="newAttribute.dataFim"
              name="newAttributeDataFim" required/>
          </td>
          <td>
            <button class="btn btn-default" type="button" class="btn btn-primary" [disabled]="form.invalid" Register (click)="addFieldValue()">Add</button>
          </td>
        </tr>
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <input [(ngModel)]="field.funcionario" class="form-control" type="text" name="{{field.funcionario}}" disabled/>
          </td>
          <td>
            <input [(ngModel)]="field.tipo" class="form-control" type="text" name="{{field.tipo}}" disabled />
          </td>
          <td>
            <input [(ngModel)]="field.projeto" class="form-control" type="text" name="{{field.projeto}}" disabled />
          </td>
          <td>
            <input [(ngModel)]="field.dataInicio" class="form-control" type="date" name="{{field.dataInicio}}" disabled />
          </td>
          <td>
            <input [(ngModel)]="field.dataFim" class="form-control" type="date" name="{{field.dataFim}}" disabled />
          </td>
          <td>
            <button class="btn btn-default" type="button" class="btn btn-primary" Register (click)="deleteFieldValue(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div>